h1{
    text-align: center;
    color: #ffffff;
}
h2{
    text-align: center;
    color: #ffffff;
}
.header{
    margin: 10mm;
    background-color: #333636;
    display: flex;
    justify-content: center;
    padding-top: 1%;
}
.description{
    margin: 0px;
    text-align: center;
    background-color: #22c1f1;
}
.others{
    background-color: #22c1f1;
}
.Otitle{
    text-align: center;
    background-color: #22c1f1;
}
.item{
    margin: 1%;
    display: flex;
    text-shadow: #22c1f1;
    justify-content: center;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
.matter{
    background-color: #22c1f1;
}
body {
    background-color: #333636;
}